<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.hackystat.stdext.sensor"
   name="Hackystat Sensor 3x 6.4.117"
   version="6.4.117.3x"
   provider-name="Takuya Yamashita (takuyay@hawaii.edu)"
   class="org.hackystat.stdext.sensor.eclipse.EclipseSensorPlugin">

   <runtime>
      <library name="sensor.eclipse.3x.jar">
        <export name="*"/>
      </library>
      <library name="sensorshell.jar">
        <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.jdt.core"/>
      <!-- Needs this for Eclipse JUnit sensor -->
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.osgi"/>
      <import plugin="org.eclipse.debug.core"/>  
      <import plugin="org.eclipse.update.ui"/>      
      <!--
        <import plugin="org.eclipse.cdt"/>
        <import plugin="org.eclipse.cdt.core"/> 
      -->
   </requires>

   <!-- Instantiates EclipseSensorPlugin when workbench starts up -->
   <extension point="org.eclipse.ui.startup"/>
</plugin>

