<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


	<extension
         point="org.eclipse.ui.views">
      <view
            name="Code Replay View"
            class="org.electrocodeogram.codereplay.userInterface.ReplayView"
            id="org.electrocodeogram.codereplay.userInterface.ReplayView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Code Replay Tree View"
            class="org.electrocodeogram.codereplay.userInterface.ReplayTreeView"
            id="org.electrocodeogram.codereplay.userInterface.ReplayTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective 
            id="org.electrocodeogram.codereplay.userInterface.ReplayPerspective" 
            name="CodeReplay Plugin" 
            class="org.electrocodeogram.codereplay.userInterface.ReplayPerspective">  
        </perspective> 
   </extension>

</plugin>
