<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.electrocodeogram.sensor.eclipse"
   name="ElectroCodeoGram Eclipse Sensor"
   version="1.1.6"
   provider-name="FU Berlin"
   class="org.hackystat.stdext.sensor.eclipse.EclipseSensorPlugin">

   <runtime>
      <library name="lib/ecg_support.jar">
         <export name="*"/>
      </library>
      <library name="sensor.eclipse.jar">
         <export name="*"/>
      </library>
      <library name="lib/hackystat/sensor.eclipse.3x.jar">
         <export name="*"/>
      </library>
      <library name="sensorshell.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.jdt.core"/>
      <!-- Needs this for Eclipse JUnit sensor -->
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.eclipse.debug.core"/>
      <!--
        <import plugin="org.eclipse.cdt"/>
        <import plugin="org.eclipse.cdt.core"/> 
      -->  
   </requires>

<!-- Instantiates EclipseSensorPlugin when workbench starts up -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.electrocodeogram.sensor.eclipse.preferences.ECGMainPreferencePage"
            id="org.electrocodeogram.sensor.eclipse.preferences.ECGMainPreferencePage"
            name="ElectroCodeoGram"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.electrocodeogram.sensor.eclipse.preferences.ECGPreferenceInitializer"/>
   </extension>
</plugin>
